.text-title {
    position: absolute;
    width: 580px;
    height: 128px;
    left: 120px;
    top: 179px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}

.text-subtitle {
    position: absolute;
    width: 612px;
    height: 216px;
    left: 120px;
    top: 331px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.text-email {
    color: rgb(0, 140, 255);
}