.search-container {
    position: absolute;
    width: 1500px;
    height: 270px;
    left: 90px;
    top: 116px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-content {
    padding-top: 40px;
    padding-left: 94px;
}

.search-title {
    position: absolute;
    left: 94px;
    top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;

}
